<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        <ng-container *ngIf="isMale">
            <img class="profile-img" src="../../../assets/male.png">
        </ng-container>
        <ng-container *ngIf="isFemale">
            <img class="profile-img" src="../../../assets/female.png">
        </ng-container>
        <p>Email: <span>{{currentUser!.email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{profileTrips!.length!}}</span> counts</p>

        <div class="trips-info">
            <ng-container *ngIf="profileTrips">
                <ng-container *ngFor="let trip of profileTrips">
                    <p>from <span>{{trip.start}}</span> to <span>{{trip.end}}</span> on <span>{{trip.date}}</span> at
                        <span>{{trip.time}}</span> with car brand <span>{{trip.carBrand}}</span> </p>
                </ng-container>
            </ng-container>
            
            <ng-container *ngIf="thereIsNotAnyTrips">           
               <p>there are no offer trips yet...</p>
            </ng-container>
        </div>

    </div>
</section>