.button-start-end{
    width: 20%;
    height: 15%;
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    color: lightgreen;
    font-style: italic;
    cursor: pointer;
    border: none;
}

.button-information{
    margin: 15px auto;
    width: 50%;
    height: 8%;
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    color: lightgreen;
    font-style: italic;
    cursor: pointer;
    border: none;
}