<div *ngIf="errorFetchingData">Error loading trip</div>
<section class="py-5 details" id="trip-details-page">
    <div class="container">
        <div class="destination">
            <button class="button-start-end" (click)="toggleStartEnd()">See more informaion</button>
            <div [@popOverState]="stateName">
                <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
                <h5> from <span>{{currentTrip?.start}}</span> to <span>{{currentTrip?.end}}</span> </h5>
            </div>
            <div [@popOverState]="stateName">
                <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                <h5> <span>{{currentTrip?.date}}</span> at <span>{{currentTrip?.time}}</span> </h5>
            </div>
        </div>
        <p class="line"></p>
        <div class="buddies-info">
            <i class="fas fa-users buddies"></i>
            <h5>Shared trip Buddies</h5>
            <div>
                <ng-container *ngIf="isThereAnybudies">
                   <p >
                      {{currentTripBudies}}
                   </p>
                </ng-container>  
                <ng-container *ngIf="!isThereAnybudies">
                <p>there are no buddies yet...</p>
                 </ng-container>                        
            </div>
            <h5>Driver: <span></span> </h5>
        </div>
        <p class="line"></p>
        <h5 class="brand">Car Brand: <span class="lead">{{currentTrip?.carBrand}}</span></h5>
        <div class="trip-info">
            <div>
                <img class="img-fluid rounded"
                    src={{currentTrip?.carImg}}
                    alt="car-image">
            </div>
            <div class="trip-desc">
                <button (click)="toggleDescriptionHandler()" class="button-information" >Information about the trip</button>
                <textarea [@popDescriptionState]="stateDescription" class="lead"
                    disabled>{{currentTrip?.description}}</textarea>
                <h5>Price: <span class="lead">{{currentTrip?.price}}</span> BGN</h5>

                <ng-container *ngIf="haveCurrrentUser">
                    <div class="actions">
                        <ng-container *ngIf="isCreator">
                            <a (click)="onDeleteEvent()" class="btn btn-danger">Delete this trip</a>
                            <a routerLink="/trips/{{ currentTripId }}/edit" class="btn btn-warning">Edit this trip</a>
                        </ng-container>
                        <ng-container *ngIf="!isCreator">
                             
                            <ng-container *ngIf="isAllReadyJoinInTrip">
                                <span class="btn btn-info">Already joined. Don't be late!</span>
                            </ng-container>

                            <ng-container *ngIf="!isAllReadyJoinInTrip">
                                <ng-container *ngIf="thereIsFreeSeats">
                                    <button (click)="onJoinEvent()" class="btn btn-join">Join now</button>
                                </ng-container>
                                 
                                <ng-container *ngIf="!thereIsFreeSeats">       
                                    <span class="btn btn-secondary">No seats available!</span>
                                </ng-container>
                            </ng-container>
                           
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>