.loader {
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHulOVP_1Lbib9kL2VIcwG3PnFCRgt-iKeIg&usqp=CAU")
        center no-repeat;

    z-index: 1;
}